<div id="menu">
		<ul>
                        <li><a href="/admin">Admin Home</a></li>
			<li><a href="/admin/manageusersadmin">Manage Users</a></li>

	<li>
						<span>Manage App<b></b></span>
						<ul>
							<li><a href="/admin/addcatadmin">Add category</a></li>
							<li><a href="/admin/managecatadmin">Manage category</a></li>
							<li><a href="/admin/addsubcatadmin">Add sub category</a></li>
							<li><a href="/admin/managesubcatadmin">Manage sub category</a></li>
</ul>
					</li>


			<li><a href="/admin/managepostadmin">Manage Post</a></li>
                        <li><a href="">Others</a>
			<ul>
                                                        <li><a href="/admin/viewfeedback">View Feedback</a></li>
							<li><a href="/logout">Logout</a></li>
							<li><a href="/admin/changepass">Change Password</a></li>

</ul>




</li>
    	</ul>
		<br class="clearfix" />
	</div>
    
