<% include header %>
<% include adminnavigator %>

    <div id="page">
<center>
				<h2>Welcome To PostKrde Admin panel</h2>
                                <h3>User: <%=myuser%></h3>
				
	<center>
    
</div>
<%include footer%>
