<div id="menu">
    <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li class="last"><a href="service">Services</a></li>
       
                    <li class="last"><a href="/contact">Contact</a></li>
                    <li class="last"><a href="/Register">Register</a></li>
        
                    <li class="last"><a href="/login">Login</a></li>
                    <li ><a href="/addpost">Add Post</a></li>
    </ul>
                    
    <br class="clearfix" />
</div>
    