<!--Start of Zendesk Chat Script-->
<script type="text/javascript">
window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
$.src="https://v2.zopim.com/?5tcas2I7x8fdABCERVdW0F8QCfBPQKjC";z.t=+new Date;$.
type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
</script>
<!--End of Zendesk Chat Script-->


<div id="menu">
		<ul>
                        <li><a href="/users">User Home</a></li>
			<li><a href="">Manage Profile</a></li>

	<li>
						<span>Manage App<b></b></span>
						<ul>
							<li><a href="/users/addpostuser">Add Post</a></li>
							<li><a href="/users/managepostuser">Manage Post</a></li>
							<li><a href="#">Offers</a></li>
							<li><a href="/users/feedback">Feedback</a></li>
</ul>
					</li>


			<li><a href="">Others</a>
			<ul>
							<li><a href="/logout">Logout</a></li>
							<li><a href="/users/changepass">Change Password</a></li>

</ul>
</li>